.content-box {
    display: flex;
    border: 1px solid rgb(247, 211, 134);
    background-color: rgb(238, 211, 175);
    margin-left: 26rem;
    margin-right: 4rem;
    margin-top: -10%;
    border-radius: 1rem;
    height: 750px;
    flex-wrap: wrap;
    overflow: auto;
}

.card1.first>img {
    height: 70px;
    width: 70px;
    margin-top: 20%;
    margin-left: 20%;
}


.card1 {
    display: flex;
    margin-top: 2%;
    width: 400px;
    height: 250px;
    margin-left: 2%;
    background: #F9E8C9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    .adopt-me-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 30px;
        border-radius: 15px;
        border: 0;
        font-size: 20px;
        font-family: "Intim";
        background-color: #F9E8C9;
        font-weight: 700;
        color: #EC6B0E;
        padding: 1rem 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
    
    
        &:hover {
            background-color: #EC6B0E;
            color: #F9E8C9;
        }
    }

}

.card1 > section{
    margin-left: 20px;
}

.card1> section>img {
    height: 150px;
    width: 170px;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 15px;
    object-fit: cover;

}

.pet-details {
    flex-direction: column;
    margin-left: 4%;
    justify-content: left;

}

.pet-details>p {
    font-weight: 700;
    font-size: 17px;
}

#close {
    width: 20px;
    height: 20px;
    margin-left: 25px;
    margin-top: -5px;
    position: relative;
}

.add-button {
    width: auto;
    height: 30px;
    margin-top: 25%;
    border-radius: 15px;
    border: 0;
    font-size: 30px;
    font-family: "Intim";
    background-color: #F9E8C9;
    font-weight: 700;
    color: #EC6B0E;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    display: flex;


    &:hover {
        background-color: #EC6B0E;
        color: #F9E8C9;
    }
}

