
.animal-container{
    margin-left: 10%;
    margin-right: 10%;
    height: 700px;
    border-radius: 40px;
    background-color: #deb191;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form{
    margin-left: 7%;

}

label{
    display: block;
    padding-top: 19px;
    font-weight: 700;
    font-size: 18px;
}

.form-control{
    display: block;
    margin-top: 15px;
    height: 20px;
    padding: 1rem;
    border-radius: 15px;
    font-weight: 500;
    border: 0;
    background-color: #F9E8C9;
    width: 350px;
    font-size: 20px;
}

.save-new-animal{
    padding: 1rem 1.75rem;
    border-radius: 25px;
    border: 0;
    background-color: #EC6B0E;
    font-weight: 700;
    font-size: 20px;
    color: #F9E8C9;

    &:hover{
        box-shadow: 0px 0px 20px 4px rgb(240, 170, 64);
        background-color: rgba(235, 114, 28, 0.918);
    }
    
}

.inputs-first{
    margin-bottom: 15px;
    width: 400px;
    
}

.inputs-2 {
    display:flex;
    padding: 1rem;
    margin-top: 50px;

    input[type="file"]  {
        padding: 1rem;
        font-size: 20px;
        width: 80%;
        display: block;
        height: 40px;
    }

    img {
        height: 150px;
        width: 150px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}